# aliyun provider
ALIYUN_BASE_URL=
ALIYUN_API_KEY=
# deepseek provider
DEEPSEEK_BASE_URL=
DEEPSEEK_API_KEY=

# server
HOST=
PORT=

# database
DB_TYPE=

# mysql database
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DBNAME=

# sqlite database
SQLITE_DBNAME=

# valkey database
VALKEY_ADDRESS=
VALKEY_USERNAME=
VALKEY_PASSWORD=