### env template

llm:
  temperature: 
  enableThinking: 
  activeProvider:  # from 0 to n-1, where n is the number of providers
  providers:
    - provider: 
      baseUrl: 
      apiKey: 
      models: [] # if empty, all models will be used
    - provider: 
      baseUrl: 
      apiKey: 
      models: []

template:
  basePath: 
  suffix: 
  tList:
    - id: 
      description: 
      tFiles: [] # 一般按照的格式为: {role}_{id}

jwt:
  secret: 
  ttl:  # second
  cookieOption:
    accessKey: 
    maxAge: # second
    path:
    domain: # cors
    secure: # https
    httpOnly:


server:
  host: 
  port: 
  readTimeout:  # second
  writeTimeout:  # second
  idleTimeout:  # second
  maxHeaderBytes: 

web:
  serverStatic: # server static dist or not
  baseUri: # backend base uri prefix
  dist: # relative path to ./
  entry: # web entry file, relative to dist, e.g. index.html

database:
  enable: 
  type: 
  enableLog: 
  logLevel: 
  slowThreshold:  # miliseconds
  autoMigrate: 
  mysql:
    dsn: 
    maxIdleConns: 
    maxOpenConns: 
    connMaxLifetime:  # second
  sqlite:
    path: # path for database name.

httpProxy:
  timeout:  # second
